<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="index.css" />
    <title>Restaurant Delivery</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/restaurants">Restaurants</a></li>
        <li><a href="/customers">Customers</a></li>
        <li><a href="/drivers">Drivers</a></li>
      </ul>
    </nav>
  </body>
</html>
